@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Narrow:wght@500&display=swap');


body {
   font-family: 'Alfa Slab One', cursive;
   font-family: 'Archivo Narrow', sans-serif;
   overflow-x: hidden;
}

#menu li>a {
   font-size: 18px;
   font-weight: bold;
   color: brown;
}

menu form>button {
   font-size: 18px;
   font-weight: bold;
}

.carousel-inner {
   max-height: 39rem;
   max-width: 50rem;

}

h1 {
   text-align: center;

}
.imagen-centro{
   text-align: center;
}


body{
   background: rgb(129, 218, 181);}
 
input{
  
   border-radius: 5px 5px 5px 5px;
}
h2{
   text-align: center;
}
/*footer*/
.footer-style{
   padding-top: 50px;
   background-color: rgb(12, 96, 87);
   text-align: center;
}


